<div class="text-center">
    <h1 class="text-info">Confirmation</h1>
    <p>We've received your inquiry. Our staff's member will contact you as soon</p>
    <img src="/img/patio.jpg" width="80%" />
</div>

