@model Rocosa.Models.ViewModels.ProductViewModel
@{
    var title = "Create New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    @if(Model.Product.Id!=0)
    {
        title = "Edit Product";
        <input asp-for="Product.Id" hidden/>
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@title</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Product.Name" class="form-label">Product Name</label>
                            <input asp-for="Product.Name" class="form-control" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Product.ProductPrice" class="form-label">Price</label>
                            <input asp-for="Product.ProductPrice" class="form-control" />
                            <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Product.ShortDescription" class="form-label">Description</label>
                            <input asp-for="Product.ShortDescription" class="form-control" />
                            <span asp-validation-for="Product.ShortDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Product.ImageUrl" class="form-label">Product Name</label>
                            <input type="file" name="files" id="imageId" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Product.CategoryId" class="form-label">Category</label>
                            <select asp-for="Product.CategoryId" asp-items="Model.Categories" class="form-select">
                                <option disabled selected>--Choose a category</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Product.ApplicationTypeId" class="form-label">Application Type</label>
                            <select asp-for="Product.ApplicationTypeId" asp-items="Model.ApplicationTypeList" class="form-select">
                                <option disabled selected>--Choose an application type</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="d-grid gap-2 d-md-block">
                        @if(Model.Product.Id!=0)
                        {
                            <button type="submit" class="btn btn-primary">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">Create</button> 
                        }
                        <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

